@model bool

<button class="favorite-btn @(Model ? "active" : "")" data-is-favorite="@(Model ? "true" : "false")">
    @if (Model)
    {
        <i class="bi bi-heart-fill text-danger fs-5"></i>
    }
    else
    {
        <i class="bi bi-heart fs-5"></i>
    }
    <span class="visually-hidden">@(Model ? "Remove from favorites" : "Add to favorites")</span>
</button>