@model MealStack.Infrastructure.Data.RecipeEntity

@{
    ViewData["Title"] = "Edit Recipe";
}

<h1>Edit Recipe</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form id="recipeForm" asp-action="Edit">
            <partial name="_RecipeForm" model="Model" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        // Debug form submission to see what's being sent
        $(document).ready(function() {
            // Log form data on submit
            $('#recipeForm').on('submit', function(e) {
                console.log('Form being submitted with data:');
                var formData = new FormData(this);
                
                // Log all form fields
                for (var pair of formData.entries()) {
                    console.log(pair[0] + ': ' + (pair[1] instanceof File ? pair[1].name : pair[1]));
                }
            });
        });
    </script>
}